
h1 {
    text-align: center;
}




header {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 150px;
    width: 80%;
    color: red;

}

.underscores {
    color: blue;
    border: 3px solid black;
    font-size: 100px;
    text-align: center;
    margin: 10px auto;
    height: 150px;
    width: 80%;
}

.rightguess {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 150px;
    width: 80%;
}
.wrongguess {
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    height: 150px;
    width: 80%;
}